.scroll-pane > .viewport {
    -fx-background-color: #383838;
}

.scroll-pane {
    -fx-background-color: #383838;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-border-color: #383838;
    -fx-background-insets: 0;
}